@import 'init.css';

.site-header{
    background: #7d438f;
    background-image: url('../img/bg.jpeg');
    background-size: cover;
}
.site-header > .row{
    height: 3cm;
}
.site-header > .row > div{
    padding: 8px;
}
#search{
    width: max-content;
    background: #fff;
    overflow: hidden;
    border-radius: 4px;
}
#search > input{
    width: 200px;
}
#search > input, #search > button{
    border: none;
    outline: none;
    padding: 8px;
    background: none;
    color: #7d438f;
}
.sm > li > a{
    padding: 8px;
    color: #fff;
    font-size: 18px;
}
#site-header-title{
    color: #fff;
    font-family: 'Extra Bold';
    font-size: 20px;
}
#site-header-title > span{
    font-size: 16px;
    font-family: 'Extra Regular';
}
.site-nav > li > a{
    padding: 16px;
    /* font-weight: bold; */
    /* color: #7d438f; */
    color: #444;
    transition: 0.2s;
    /* border-radius: 8px; */
    font-family: 'Extra Bold';
}
.site-nav > li{
    position: relative;
}
.site-nav > li > a:hover{
    /* background: rgba(125, 67, 143, 1); */
    color: #7d438f;
}
.site-navbar{
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-open-dropdown:hover .navbar-dropdown{
    opacity: 1;
    visibility: visible;
}
.navbar-dropdown{
    width: 180px;
    background: linear-gradient(to top right, rgba(67, 0, 69, 0.9), rgba(152, 7, 148, 0.7), rgba(67, 0, 69, 0.9));
    position: absolute;
    right: 0;
    /* padding: 8px; */
    border-radius: 0px 0px 8px 8px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}
.navbar-dropdown > li > a{
    padding: 8px;
    color: #fff;
    transition: 0.2s;
    font-size: 0.92em;
    font-family: 'Extra Def-Bold';
}
.navbar-dropdown > li > a:hover{
    background: rgba(255, 255, 255, 0.1);
}
.site-slider{
    background: #f9f9f9;
    background-image: url('../img/cover.jpg');
    background-size: cover;
    background-position: top;
}
.site-slider-container{
    height: 13cm;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(152, 7, 148, 0.6), rgba(67, 0, 69, 1));
    display: flex;
    align-items: flex-end;
}
.site-slider-container > div{
    padding: 32px;
}
.site-slider-container > div > h1{
    color: #fff;
    font-family: 'Extra Bold';
    font-size: 32px;
}
.site-slider-container > div > p{
    color: #fff;
    
}
.pad-8{
    padding: 8px;
}
.pad-8-x{
    padding: 0px 8px;
}

.post{
    height: 8cm;
    overflow: hidden;
    /* border-radius: 4px; */
    background: #fff;
    position: relative;
    /* box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2); */
}
.post-image > img{
    height: 400px;
}
.post-title{
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(67, 0, 69, 0.2), rgba(67, 0, 69, 1));
    width: 100%;
    bottom: 0;
    height: 400px;
    display: flex;
    align-items: flex-end;
    padding: 16px;
}
.post-title > a{
    color: #fff;
    font-family: 'Extra Def-Bold';
    font-size: 18px;
}

.anons{
    background: #7d438f;
    color: #fff;
    overflow: hidden;
    font-family: 'Extra Bold';
    font-size: 32px;
    padding: 16px;
    background-image: url('../img/bg.jpeg');
    background-size: cover;
}

.clearfix{
    width: 100%;
    height: 1.2cm;
    /* padding: 16px 0; */
}

.academy{
    width: 100%;
    height: 2.5cm;
    background: #430045;
    /* background: linear-gradient(to top right, #7b4a8a, #7d438f, #b961d4); */
    /* border-radius: 4px; */
    overflow: hidden;
}
.academy-container{
    width: 100%;
    /* background-image: url('../img/green-dust-and-scratches.png'); */
}
.academy-container > .row{
    height: 2.5cm;
}
.academy-trainers{
    width: 100%;
    height: 2.5cm;
    background-image: url('../img/coaches.jpg');
    background-size: cover;
    background-position: top;
}
.academy-trainers-container{
    height: 2.5cm;
    width: 100%;
    background: linear-gradient(to right, rgba(67, 0, 69, .5), rgba(67, 0, 69, 1));
    display: flex;
    justify-content: center;
    align-items: center;
}
.academy-trainers-container > a{
    color: #fff;
    padding: 8px;
    font-family: 'Extra Def-Bold';
    background: rgba(125, 67, 143, .1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px 0;
    transition: 0.2s;
}
.academy-trainers-container > a:hover{
    background: rgba(125, 67, 143, .2);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.academy-teams{
    width: 100%;
    height: 2.5cm;
    background-image: url('../img/teams.jpg');
    background-size: cover;
    background-position: top;
}
.academy-teams-container{
    height: 2.5cm;
    width: 100%;
    background: linear-gradient(to right, rgba(67, 0, 69, 1), rgba(67, 0, 69, .5));
    display: flex;
    justify-content: center;
    align-items: center;
}
.academy-teams-container > div > span{
    color: #fff;
    display: inline-block;
    padding: 4px;
    font-family: 'Extra Def-Bold';
}
.teams-nav > li{
    padding: 4px;
}
.teams-nav > li > a{
    color: #fff;
    padding: 4px;
    font-family: 'Extra Def-Bold';
    background: rgba(125, 67, 143, .1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px 0;
    transition: 0.2s;
    font-size: 12px;
}
.teams-nav > li > a:hover{
    background: rgba(125, 67, 143, .2);
    border: 1px solid rgba(255, 255, 255, 0.8);
}
.gallery{

    overflow: hidden;
}
.gallery-post{
    margin-top: 8px;
    height: 8cm;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.gallery-post-container{
    height: 8cm;
    background: linear-gradient(rgba(54, 54, 54, .1), rgba(54, 54, 54, 1));
    display: flex;
    align-items: flex-end;
    padding: 16px;
}
.gallery-post-container > a{
    color: #fff;
    font-family: 'Extra Def-Bold';
    font-size: 18px;
}
.section-title{
    padding: 8px 0;
    font-family: 'Extra Def-Bold';
    color: #430045;
    /* border-bottom: 2px solid #ececec; */
}

.tv-main{
    height: 10cm;
    width: 100%;
    background-image: url('../img/2.JPG');
    background-size: cover;
    background-position: center;
}
.tv-main-container{
    background: linear-gradient(to left bottom, rgba(255, 255, 255, 0.2), rgba(67, 0, 69, 0.6), rgba(67, 0, 69, 1));
    height: 10cm;
    display: flex;
    align-items: flex-end;
    padding: 16px;
}
.tv-main-container > a{
    color: #fff;
    font-family: 'Extra Bold';
    font-size: 32px;
    width: 60%;
}
.tv-list{
    height: 10cm;
    background: linear-gradient(to top right, #430045, #980794);
}
.tv-list-container{
    height: 10cm;
    /* background-image: url('../img/green-dust-and-scratches.png'); */
    overflow: scroll;
}
.tv-list-container > .row{
    transition: .2s;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
.tv-list-container > .row:nth-last-child(1){
    border: none;
}
.tv-list-container > .row:hover{
    background: rgba(255, 255, 255, .1)
}
.tv-list-container > .row a{
    color: #fff;
    font-size: 18px;
    font-family: 'Extra Def-Bold';
}
.tv{
    margin-top: 8px;
}

.footer{
    background: #7d438f;
    background-image: url('../img/bg.jpeg');
    background-position: right;
    background-size: cover;
}
.sponsor{
    text-align: center;
}
.sponsor > img{
    width: 80px;
    
}
.foot-text{
    color: #fff;
}
.foot-nav > li > a{
    color: #fff;
    padding: 8px;
}